*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   margin: 3em auto;
   width: 1200px;
   max-width: 100%;
   background-color: steelblue;
   display: flex;
   text-align: center;
}
.col {
   padding: 3em;
   width: 50%;
}

.col:nth-child(1) {
   background-color: orange;
}
