@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --main-clr: #f3eed9;
   --accent-clr: #824936;
   --alt-accent-clr: #222c2a;

   --main-font: 'Roboto', sans-serif;
   --accent-font: 'Playfair Display', serif;

   --f-ligth: 300;
   --f-regular: 400;
   --f-black: 900;

   font-family: var(--main-font);
}

.container {
   width: min(80%, 1128px);
   margin: 0 auto;
}

.row {
   display: flex;
   justify-content: space-between;

   column-gap: 2.5em;
}

.col {
   width: 100%;
}

img {
   width: 100%;
}

h1 {
   font-family: var(--accent-font);
   font-size: 3.75rem;
   font-weight: var(--f-black);
}
h2 {
   margin-bottom: 1em;

   font-family: var(--accent-font);
   font-size: 2.25rem;
   font-weight: var(--f-black);
}
p {
   font-size: 1.3125rem;
   font-weight: var(--f-regular);
}
.header {
   min-height: 41.25em;
   background-color: var(--main-clr);
   display: flex;
   align-items: center;
}

.header__text {
   font-size: 1.125rem;
   font-weight: var(--f-light);
   letter-spacing: 0.5em;
   text-align: center;
   text-transform: uppercase;
}

.header__title {
   max-width: 70%;
   text-align: center;
   margin: 0 auto;
   color: var(--accent-clr);
}

.perks {
   padding: 6em 0;
}

.perks__title {
   text-align: center;
   color: var(--accent-clr);
}

.hero {
   background-color: var(--alt-accent-clr);
   padding: 6em 0;
}

.hero__title {
   color: var(--main-clr);
}

.hero__text {
   color: white;
}
.hero + .hero {
   background-color: var(--accent-clr);
}

.hero + .hero .row {
   flex-direction: row-reverse;
}

@media (max-width: 600px) {
   .row {
      display: block;
   }
   .hero__text,
   .hero__img,
   .primary-content,
   .sidebar {
      width: 100%;
   }
   .hero__img {
      margin-top: 2em;
   }
   .container {
      width: 90%;
   }
}
